@font-face {
  font-family: 'Heading';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Jost/jost-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/Jost/jost-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Jost/jost-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Jost/jost-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Jost/jost-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Jost/jost-v1-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Body';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts//Nunito/nunito-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('./fonts/Nunito/nunito-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Nunito/nunito-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Nunito/nunito-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Nunito/nunito-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Nunito/nunito-v12-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

html, body {
  display: relative;
  color: #424242;
  font-family: 'Body';
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  background: #95a8d4;
  padding-bottom: 90px;
  height: 100%;
}

h1 {
  font-family: 'Heading';
}

#root {
  height: 100%;
}

body > div {
  max-width: 750px;
}

@media(max-width: 1300px) {
  body > div {
    font-size: 1.8em;
  }
}

pre {
  overflow-x: scroll;
  background: #2b2b2b;
  padding: 0.6rem;
  border-radius: 5px;
  color: #e6d1a1;
  transition: all .3s;
}

pre > code {
  font-size: 0.9em;
}

code {
  background: #2b2b2b;
  padding: .1em .4em;
  border-radius: 2px;
  color: #e6d1a1;
  font-size: .8em;
}

a {
  color: #ffffff;
}

footer {
  display: absolute;
  bottom: 0;
}

.row {
  display: flex;
}

.col {
  padding: 0 5px;
}

#loading-text {
  height: 70vh;
  display: flex;
  align-items: center;
}

.sider {
  right: 50px;
  top: 16px;
}
.back {
  left: 40px;
  top: 40px;
}
@media (min-width: 1701px) {
  .sider {
    position: absolute;
  }
  .back {
    position: absolute;
  }
}
@media (max-width: 1700px) {
  .sider {
    font-size: 1.4em;
  }
  .sider li {
    margin: 1em 0;
  }
  .sider ul {
    margin-top: 3em;
  }
  body > div {
    margin: 0px 50px;
  }
}
